.workout-form {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  /* height: 36px; */
  width: 80%;
  line-height: 36px;
}
.workout-form h5 {
  text-align: center;
}

.workout-form button {
  width: calc(40% - 50px);
  height: 30px;
  margin-left: 20px;
}

.workout-form input {
  height: 30px;
  text-align: center;
  margin-right: 20px;
  width: 60%;
}
