.editor {
  height: 100vh;
  position: relative;
}

.editor-list {
  height: calc(100vh - 30px);
  background-color: rgb(240, 240, 240);
}
.editor-list.formup {
  filter: brightness(0.3);
}
.formup {
  filter: brightness(0.3);
}

.addform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: slategrey;
  padding: 20px;
  border-radius: 5px;
}

.addform * {
  margin: 0 10px;
}

.addform h4 {
  display: inline-block;
  color: white;
}
