.workouts-container {
  max-height: calc(100vh - 120px);
  position: relative;
  overflow: auto;
}

.workout-container *:not(.exercise-container) {
  display: inline-block;
  margin: 0;
}

.workout-buttons {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.workout-container .workout-buttons * {
  margin: 0 20px;
}

/*.workout-buttons a {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
} */
.empty {
  display: none!important;
}

.empty-header {
  text-align: center;
}

.workout-container .exercise-container {
  border: 1px solid grey;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.workout-container .exercise-container * {
  display: inline-block;
}


@media screen and (max-width: 650px) {
  .workout-container .workout-buttons * {
    margin: 0 auto;
    display: block;
  }
  .workout-container .workout-buttons h4 {
    display: block;
  }
  .workout-container .workout-buttons .go-button {
    display: block;
  }
  .exercise-container {
    padding: 0;
  }
}